<!--The content below is only a placeholder and can be replaced.-->
<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="loadedFeature === 'Recipe' "></app-recipes>
      <app-shopping-list  *ngIf="loadedFeature === 'Shopping' "  ></app-shopping-list>
      <app-weather-info *ngIf="loadedFeature === 'Weather' "></app-weather-info>
    </div>

  </div>
  
</div>
<div style="text-align:center">
  <h1>
    Welcome  {{title}} [title]!!!!
    
  </h1>
</div>


